@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;700;900&display=swap');

:root{
    --primary--dark: #1A294A;
    --primary--light: #5DC9E9;
    --pink: #E34A61;
    --orange: #EC6943;
    --buttons: #6271DD
}


